.hero {
    background: var(--white);
    &__wrapper {
        height: 580px;
        display: flex;
        justify-content: center;
        align-items: end;
        color: var(--dark);
        @include w3840 {
            height: 740px;
        }
        @include w2560 {
            height: 680px;
        }
        @include w1920 {
            height: 640px;
        }
        @include w1100 {
            height: 540px;
        }
        @include w992 {
            height: 480px;
        }
        @include w850 {
            height: 750px;
        }
        @include w768 {
            height: 780px;
        }
        @include w670 {
            height: 800px;
        }
        @include w576 {
            height: 700px;
        }
        @include w475 {
            height: 700px;
        }
        @include w380 {
            height: 700px;
        }
    }
    &__inner {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        overflow: hidden;
        @include w992 {
            gap: 5px;
        }
        @include w850 {
            flex-direction: column;
            gap: 25px;
        }
    }
    &__text {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: end;
        @include w3840 {
            width: 50%;
            gap: 20px;
        }
        @include w2560 {
            width: 45%;
            gap: 20px;
        }
        @include w1920 {
            width: 45%;
            gap: 15px;
        }
        @include w1440 {
            width: 46%;
            gap: 10px;
        }
        @include w992 {
            width: 50%;
            gap: 15px;
        }
        @include w850 {
            width: 90%;
            text-align: center;
            gap: 25px;
        }
        @include w475 {
            width: 100%;
        }
    }
    &__descr {
        font-family: 'Nunito', sans-serif;
        font-size: 1.3rem;
        // @include w1100 {
        //     font-size: 1.2rem;
        // }
    }
    &__img {
        margin-bottom: -4px;
        display: flex;
        justify-content: center;
        @include w3840 {
            width: 30%;
        }
        @include w2560 {
            width: 33%;
        }
        @include w1920 {
            width: 36%;
        }
        @include w1440 {
            width: 39%;
        }
        @include w850 {
            width: 60%;
            margin-left: 30px;
        }
        @include w670 {
            width: 70%;
        }
        @include w475 {
            width: 80%;
        }
    }
    &__img img {
        @include w3840 {
            width: 550px;
        }
        @include w2560 {
            width: 500px;
        }
        @include w1920 {
            width: 450px;
        }
        @include w1440 {
            width: 400px;
        }
    }
}