.hero {
    background: var(--white);
    &__wrapper {
        height: 580px;
        display: flex;
        justify-content: center;
        align-items: end;
        color: var(--dark);
        @include w1100 {
            height: 540px;
        }
        @include w992 {
            height: 480px;
        }
        @include w850 {
            height: 750px;
        }
        @include w768 {
            height: 780px;
        }
        @include w670 {
            height: 800px;
        }
        @include w576 {
            height: 650px;
        }
        @include w475 {
            height: 620px;
        }
        @include w380 {
            height: 520px;
        }
    }
    &__inner {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        overflow: hidden;
        @include w992 {
            gap: 5px;
        }
        @include w850 {
            flex-direction: column;
            gap: 25px;
        }
    }
    &__text {
        width: 46%;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        @include w992 {
            width: 50%;
            gap: 15px;
        }
        @include w850 {
            width: 90%;
            text-align: center;
            gap: 25px;
        }
        @include w475 {
            width: 100%;
        }
    }
    &__descr {
        font-family: 'Nunito', sans-serif;
        font-size: 1.3rem;
        // @include w1100 {
        //     font-size: 1.2rem;
        // }
    }
    &__img {
        margin-bottom: -4px;
        width: 39%;
        @include w850 {
            width: 60%;
        }
        @include w670 {
            width: 70%;
        }
        @include w475 {
            width: 80%;
        }
    }
}