.hero {
    height: 58rem;
    display: flex;
    align-items: end;
    background: var(--white);
    @include w1200 {
        height: 55rem;
    }
    @include w992 {
        height: 50rem;
    }
    @include w768 {
        height: 80rem;
    }
    @include w576 {
        height: 70rem;
    }
    @include w475 {
        height: 65rem;
    }
    @include w380 {
        height: 60rem;
    }
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: -2px;
        @include w768 {
            flex-direction: column;
        }
    }
    &__text {
        display: flex;
        flex-direction: column;
        width: 53.3rem;
        gap: 15px;
        @include w768 {
            text-align: center;
            margin-top: 5rem;
            width: 50rem;
        }
        @include w576 {
            width: 40rem;
        }
        @include w475 {
            width: 33rem;
        }
        @include w380 {
            width: 30rem;
        }
    }
    &__title {
        margin-top: unset;
        @include w768 {
            margin-bottom: 3rem;
        }
        @include w475 {
            margin-bottom: 2rem;
        }
    }
    &__descr {
        @include w768 {
            margin-bottom: 3rem;
        }
        @include w475 {
            margin-bottom: 2rem;
            font-size: 1.3rem;
        }
    }
    &__img img {
        width: 40rem;
        @include w1200 {
            width: 35rem;
        }
        @include w576 {
            width: 30rem;
        }
        @include w380 {
            width: 26rem;
        }
    }
}
