.price {
    background: var(--white);
    color: var(--dark);
    &__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 680px;
        @include w1100 {
            height: 610px;
        }
        @include w992 {
            height: 550px;
        }
        @include w850 {
            height: 1200px;
        }
    }
    &__cards {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include w850 {
            flex-direction: column;
            gap: 20px;
        }
    }
    &__title {
        margin-top: 50px;
        @include w850 {
            margin-bottom: 50px;
        }
    }
}
.price-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 27.35%;
    height: 65%;
    border-radius: 15px;
    padding: 30px;
    background: var(--light);
    @include w850 {
        width: 40%;
        height: 30%;
    }
    @include w670 {
        width: 50%;
    }
    @include w576 {
        width: 65%;
    }
    @include w475 {
        width: 80%;
    }
    &__list {
        width: 100%;
        justify-self: start;
        font-family: 'Nunito', sans-serif;
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-size: 1rem;
        @include w850 {
            align-items: center;
            font-size: 1.2rem;
        }
    }
    &__title {
        font-family: 'Comfortaa', sans-serif !important;
        font-size: 1.5rem;
        @include w850 {
            font-size: 1.7rem;
        }
    }
    &__price {
        width: 100%;
        height: 25%;
        background: var(--blue);
        color: white;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: 'Nunito-Bold', sans-serif;
        &-num {
            font-size: 2rem;
        }
        &-text {
            font-size: 1.2rem;
        }
    }
    &__more {
        border-bottom: 1px solid var(--dark);
        padding-bottom: 1px;
        font-size: 18px;
        font-family: 'Nunito';
    }
}