:root {
    // colors
    --light: #ededed;
    --dark: #191919;
    --white: #ffffff;
    --black: #000000;
    --blue: #362AF0;
    --light-logo: #362AF0;
    --red: #FC3F1D;
    --yellow: #FFCC00;
    --transition-time: 0.3s;
    
}
