.burger {
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    display: none;
    cursor: pointer;
    z-index: 5;
    @include w992 {
        display: flex;
    }
    &__line {
        width: 30px;
        height: 5px;
        background: var(--dark);
        border-radius: 30px;
        transform-origin: center;
    }
    &--active {
        .burger__line:nth-child(1) {
            transform: translateY(10px) rotate(45deg);
        }
        .burger__line:nth-child(2) {
            opacity: 0;
            transform: scaleX(0);
        }
        .burger__line:nth-child(3) {
            transform: translateY(-15px) rotate(-45deg);
        }
    }
}

body {
    overflow: hidden;
}