a {
    all: unset !important; /* сбросить все стили */
    cursor: pointer !important; /* вернуть курсор-указатель */
}

html * {
    transition: 0.3s;
}

html {
    font-size: 16px;
    @include w1200 {
        font-size: 14px;
    }
    @include w1100 {
        font-size: 13px;
    }
    @include w992 {
        font-size: 12px;
    }
    @include w576 {
        font-size: 10px;
    }
    @include w380 {
        font-size: 8px;
    }
}

.shadow {
    box-shadow: 1px 4px 4px 0 rgba(0, 0, 0, 0.25), -1px 0 4px 0 rgba(0, 0, 0, 0.25);
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
    @include w1200 {
        width: 1100px;
    }
    @include w1100 {
        width: 992px;
    }
    @include w992 {
        width: 850px;
    }
    @include w850 {
        width: 768px;
    }
    @include w768 {
        width: 670px;
    }
    @include w670 {
        width: 576px;
    }
    @include w576 {
        width: 475px;
    }
    @include w475 {
        width: 380px;
    }
    @include w380 {
        width: 350px;
    }
}

.regular {
    font-size: 1rem;
    font-family: 'Nunito', sans-serif;
}
.title {
    font-size: 3rem;
    font-family: 'Comfortaa', sans-serif;
}
.subtitle {
    font-size: 1.5rem;
    font-family: 'Nunito', sans-serif;
}

.logo svg path {
    fill: var(--light-logo) !important;
}