html * {
        transition: 0.3s;
        color: var(--dark);
}

html {
    font-size: 10px;
}

a {
    all: unset; /* сбросить все стили */
    cursor: pointer; /* вернуть курсор-указатель */
    color: inherit; /* наследовать цвет текста */
}

.section {
    &-odd {
        height: 68rem;
        background: var(--white);
    }
    &-even {
        height: 68rem;
        background: var(--light);
    }
}

.container {
    width: 120rem;
    margin: 0 auto;
    padding: 0 1.5rem;
    @include w1200 {
        width: 110rem;
    }
    @include w1100 {
        width: 99.2rem;
    }
    @include w992 {
        width: 85rem;
    }
    @include w850 {
        width: 76.8rem;
    }
    @include w768 {
        width: 67rem;
    }
    @include w670 {
        width: 57.6rem;
    }
    @include w576 {
        width: 47.5rem;
    }
    @include w475 {
        width: 40rem;
    }
    @include w380 {
        width: 35rem;
    }
}

.regular {
    font-size: 1.6rem;
    font-family: 'Nunito', sans-serif;
    color: var(--dark);
    @include w1200 {
        font-size: 1.4rem;
    }
    @include w992 {
        font-size: 1.2rem;
    }
}
.subtitle {
    font-size: 2.2rem;
    font-family: 'Nunito', sans-serif;
    color: var(--dark);
    @include w1200 {
        font-size: 1.8rem;
    }
    @include w992 {
        font-size: 1.6rem;
    }
    @include w670 {
        font-size: 1.4rem;
    }
}
.title {
    font-size: 4.8rem;
    font-family: 'Comfortaa', sans-serif;
    color: var(--dark);
    margin-top: 50px;
    @include w1200 {
        font-size: 4.2rem;
    }
    @include w992 {
        font-size: 3.8rem;
    }
    @include w670 {
        font-size: 3.4rem;
    }
    @include w576 {
        font-size: 3.2rem;
    }
    @include w475 {
        font-size: 2.8rem;
    }
    @include w380 {
        font-size: 2.6rem;
    }
}
.shadow {
    box-shadow: 1px 4px 4px 0 rgba(0, 0, 0, 0.25), -1px 0 4px 0 rgba(0, 0, 0, 0.25);
}
